<main class="main">

　 <%= render partial: 'layouts/flash' %>
  <div class="inner">
 
    <div class="idea__wrapper">
     
     <div class="notifications">
 
</div>
          <h2 class="title">  
          <%="#{@idea.user.name}さんのアイデア"%>
          </h2>
      <p class="idea__hedding">
        <%= @idea.title %>
      </p>
      <%# <%= link_to "by #{@idea.user.name}",user_path(@idea.user.id), class: :idea__user %> 
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @idea.user_id %>
        <div class="idea__manage">
          <%= link_to "編集する", edit_idea_path(@idea.id), method: :get, class: :idea__btn %>
          <%= link_to "削除する", idea_path(@idea.id), method: :delete, class: :idea__btn %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <%# <div class="prototype__image">
        <%= image_tag @prototype.image %> 
      
      <%# </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">アイデア</p>
          <p class="detail__message">
            <%= @idea.title %>
          <%# </p> %>
        <%# </div>  %>
        <div class="idea__detail">
          <p class="detail__title">内容</p>
          <p class="detail__message">
            <%= @idea.content %>
          </p>
          
        </div>
      <%# </div> %>
      <div class="idea__comments">
    
     <%# <% if current_user %> 
     <% if user_signed_in? %>
       <%= form_with(model:[@idea,@comment], local: true) do |f| %>
         <div class="field">
            <%= f.label :text, "コメント" %><br />
            <%= f.text_field :text %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: :form__btn  %>
           </div>
           <% end %> 
           <% else %>
         <strong><p class ="title"> 新規登録,ログインしてコメントしよう！</p></strong> 
     <% end %> 
     <ul class="comments_lists"> 
     <h2 class="title">コメント一覧</h2>
      <% if @comments %>
       <% @comments.each do |comment| %>
      <li class="comments_list">
       <p>
          <%= comment.text %>
        </p>  
          <p class="created__at"> 
          <%= time_ago_in_words(comment.created_at) %>前
           <%=  comment.created_at.strftime("%m月%d日 %H時%M分") %> 
           <% if current_user.id  == comment.user_id  %>
            <%= link_to "コメント削除する",idea_comment_path(@idea.id,comment.id), method: :delete, class: :idea__btn %>
            <%end%>
          <%= link_to "#{comment.user.name}", "/users/#{comment.user_id}", class: :comment_user  %> 
          </p>
         <% end %>
          <% end %>
         </li>
        </ul>
      </div>
    </div>
  </div>
</main>