<main class="main">
  <div class="inner">
    <div class="idea__wrapper">
      <p class="idea__hedding">
        <%= @idea.title %>
      </p>
      <%# <%= link_to "by #{@idea.user.name}",user_path(@idea.user.id), class: :idea__user %> 
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @idea.user_id %>
        <div class="idea__manage">
          <%= link_to "編集する", edit_idea_path(@idea.id), method: :get, class: :idea__btn %>
          <%= link_to "削除する",  idea_path(@idea.id), method: :delete, class: :idea__btn %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <%# <div class="prototype__image">
        <%= image_tag @prototype.image %> 
      
      <%# </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">アイデア</p>
          <p class="detail__message">
            <%= @idea.title %>
          <%# </p> %>
        <%# </div>  %>
        <div class="idea__detail">
          <p class="detail__title">内容</p>
          <p class="detail__message">
            <%= @idea.content %>
          </p>
        </div>
      <%# </div> %>
      <div class="idea__comments">
        ログインしているユーザーには以下のコメント投稿フォームを表示する
       
      </div>
    </div>
  </div>
</main>
